
<div class=header>
  <div class=left>
    <img class=icon src="" alt="">
    <span class=title>部件配置</span>
  </div>

  <div class=right>
    <ul class=btns>
      <li>
        <button class="btn btn-primary">下一步</button>
        <button class="btn">取消</button>
      </li>
    </ul>
  </div>
</div>

<div class=widget-list-page>

  <div class=left-list>
    <!-- 搜索 -->
    <div class=search>
      <input type="text" placeholder="搜索">
      <button class=btn>
          <i class="material-icons">search</i>
      </button>
    </div>
    <!-- 列表 -->
    <accordion>
      <accordion-group
        [isOpen]="true" >
          <div accordion-heading
            class=heading >
            <i class="material-icons">folder</i>
            通用部件</div>
          <ul class=inner-list>
            <li><span class=name>个人信息</span></li>
            <li><span class=name>个人信息</span></li>
            <li><span class=name>个人信息</span></li>
            <li><span class=name>个人信息</span></li>
          </ul>
        </accordion-group>
        <accordion-group
          [isOpen]="true" >
            <div accordion-heading
              class=heading >
              <i class="material-icons">folder_open</i>
              通用部件</div>
            <ul class=inner-list>
              <li><span class=name>个人信息</span></li>
              <li><span class=name>个人信息</span></li>
              <li><span class=name>个人信息</span></li>
              <li><span class=name>个人信息</span></li>
            </ul>
          </accordion-group>
      </accordion>
  </div>

  <main>
    <h2>销量统计部件</h2>

    <ul class=widget-list>
      <li>
        <div class=widget-wrapper>
          <!-- widget -->
        </div>
        <div class=widget-name>销量统计</div>
      </li>
      <li>
        <div class=widget-wrapper>
          <!-- widget -->
        </div>
        <div class=widget-name>销量统计</div>
      </li>
      <li>
        <div class=widget-wrapper>
          <!-- widget -->
        </div>
        <div class=widget-name>销量统计</div>
      </li>
      <li>
        <div class=widget-wrapper>
          <!-- widget -->
        </div>
        <div class=widget-name>销量统计</div>
      </li>
      <li>
        <div class=widget-wrapper>
          <!-- widget -->
        </div>
        <div class=widget-name>销量统计</div>
      </li>
      <li>
        <div class=widget-wrapper>
          <!-- widget -->
        </div>
        <div class=widget-name>销量统计</div>
      </li>
      <li>
        <div class=widget-wrapper>
          <!-- widget -->
        </div>
        <div class=widget-name>销量统计</div>
      </li>
    </ul>
  </main>

</div>