@import "../../../assets/variables.scss";


.widget-list-page {
    display: flex;
    align-items: stretch;
    // TODO: 基本布局封装成组件？
    height: calc(100vh - 56px);
    background: $bgGray;

    .left-list {
        width: 248px;
        box-shadow: 0 10px 10px 0 #0000001c;
        overflow-y: scroll;
        background: white;

        .search {
            position: relative;
            margin: 25px 10px 10px;
            input {
                width: 100%;
                box-sizing: border-box;
                border: 1px solid #d6d6d6;
                border-radius: 2px;
                font-size: 16px;
                padding: 6px;
                padding-right: 30px;
            }
            button {
                position: absolute;
                right: 0;
                border: none;
                box-shadow: none;
                padding: 5px;
                i {
                    color: $brandBlue;
                    // font-size: 12px;
                }
            }
        }
    }

    main {
        width: calc(100% - 248px);
        // padding: 15px;
        overflow-y: scroll;

        ul.widget-list {
            display: flex;
            flex-wrap: wrap;
            padding: 25px;
            li {
                width: 190px;
                border-radius: 3px;
                margin: 0 35px 20px 0;

                .widget-wrapper {
                    height: 150px;
                    box-shadow: 0 0 10px 0 #0000001c;
                }
                .widget-name {
                    text-align: center;
                    font-size: 14px;
                    margin: 22px;
                }
            }
        }

        .input-group {
            max-width: 400px;
        }
    }
}
