
<div class=header>
  <div class=left>
    <img class=icon src="" alt="">
    <span class=title>部件配置</span>

    <ul class=step-switch
      *ngIf="stepManager.curStepIndex > 0" >
      <li *ngFor="let stepData of stepDataList.slice(1); let i = index"
        [class.unactive]="stepManager.curStepIndex < i+1"
        [class.cur]="stepManager.curStepIndex == i+1"
        (click)="handleClickStep(i+1)" >
        <i class="material-icons">arrow_forward</i>
        <span class=number>{{i+1}}</span>
        <span class=name>{{stepData.name}}</span>
      </li>
    </ul>
  </div>

  <div class=right>
    <div class=btns>
      <!-- <li > -->
        <button
          *ngFor="let btn of stepManager.curStepData['btns']"
          [ngClass]="btn.class"
          (click)="btn.onClick()"
          class="btn">{{btn.name}}</button>
      <!-- </li> -->
    </div>
  </div>
</div>

<div class=widget-list-page>

  <div class=left-list>
    <!-- 搜索 -->
    <div class=search>
      <input type="text" placeholder="搜索">
      <button class=btn>
          <i class="material-icons">search</i>
      </button>
    </div>
    <!-- 列表 -->
    <accordion>
      <accordion-group
        *ngFor="let category of widgetList"
        [isOpen]="true" >
          <!-- TODO: 下面两个 active 应当用 id 判断，有正确数据后可改 -->
          <div accordion-heading
            class=heading
            [class.active]="curSelection['categoryName']==category.categoryName"
            (click)="curSelection = category" >
            <i class="material-icons">folder</i>
            {{category.categoryName}}</div>
          <ul class=inner-list>
            <li *ngFor="let widget of category.widgets"
              [class.active]="curSelection['name']==widget.name"
              (click)="curSelection = widget" >
              <span class=name>{{widget.name}}</span>
            </li>
          </ul>
        </accordion-group>
      </accordion>
  </div>

  <main>
    <div class="main-panel main-panel-full"
      *ngIf="stepManager.curStepIndex!=3" >
      <h2 *ngIf="stepManager.curStepIndex==0"
        class="main-panel-title" >销量统计部件</h2>
      <h2 *ngIf="stepManager.curStepIndex>0"
        class="main-panel-title" >{{stepManager.curStepData['name']}}</h2>

      <!-- 0 部件列表页 -->
      <div *ngIf="stepManager.curStepIndex==0"
        class="main-panel-body" >
        <!-- 当前选中的是分类，则显示列表 -->
        <ul class=widget-list
          *ngIf="curSelection['widgets']" >
          <li *ngFor="let widget of curSelection['widgets']">
            <div class=widget-wrapper>
              <!-- widget -->
            </div>
            <div class=widget-name>{{widget.name}}</div>
          </li>
        </ul>
        <!-- 当前选中的是部件，则显示部件 -->
        <div class=widget-one
          *ngIf="!curSelection['widgets']" >
          <div class=widget-wrapper>
              <!-- widget -->
          </div>
          <div class=widget-name>{{curSelection['name']}}</div>
        </div>
      </div>

      <!-- 1 部件名称页 -->
      <div class="info-config main-panel-body"
        *ngIf="stepManager.curStepIndex==1" >
        <div class=input-group>
          <label><span class="require-token">*</span> 部件名称</label>
          <input class=form-control type="text">
        </div>
        <div class=input-group>
          <label>备注</label>
          <textarea class=form-control rows="4"></textarea>
        </div>
      </div>
      <!-- 2 选择数据集 -->
      <div class="data-config main-panel-body"
        *ngIf="stepManager.curStepIndex==2" >
        <div class=input-group>
          <label><span class="require-token">*</span> 选择数据集</label>
          <input class=form-control type="text">
        </div>
      </div>
      <!-- 4 预览 -->
      <div class="preview main-panel-body"
        *ngIf="stepManager.curStepIndex==4" >
        preview
      </div>
    </div>

    <!-- 3 部件配置，因为布局不同所以单独列出 -->
    <ng-container *ngIf="stepManager.curStepIndex==3" >
      <div class="main-panel main-panel-card">
        <h2 class="main-panel-title">部件配置</h2>
        <div class="main-panel-body">
          <div class=input-group>
            <label><span class="require-token">*</span> 选择数据集</label>
            <input class=form-control type="text">
          </div>
        </div>
      </div>
      <div class="main-panel main-panel-card widget-config-panel">
        <div class=left>
          <div class=title-block>
            <i class="material-icons">poll</i>
            数据集</div>
          <div class=field-list-block>
            <div class=field-list>
              <div class=title>
                <i class="material-icons">sort</i>
                <span class=text>维度</span>
                <span class=plus>+</span>
              </div>
              <ul>
                <li>序号</li>
                <li>序号</li>
                <li>序号</li>
              </ul>
            </div>
            <div class=field-list>
              <div class=title>
                <i class="material-icons">linear_scale</i>
                <span class=text>维度</span>
                <span class=plus>+</span>
              </div>
              <ul>
                <li>序号</li>
                <li>序号</li>
                <li>序号</li>
                <li>序号</li>
                <li>序号</li>
              </ul>
            </div>
          </div>
        </div>
        <div class=right>

          <div class=fields>
            <div class=input-group>
              <label>行维</label>
              <div class="field-picker form-control">
                <ul>
                  <li>
                    <div class="field-item">
                      <span class=text class=text>序号</span>
                      <i class="material-icons">close</i>
                      <i class="material-icons">filter_list</i>
                      <i class="material-icons">sort</i>
                    </div>
                  </li>
                  <li>
                    <div class=field-item>
                      <span class=text>序号</span>
                      <i class="material-icons">close</i>
                      <i class="material-icons">filter_list</i>
                      <i class="material-icons">sort</i>
                    </div>
                  </li>
                  <li>
                    <div class=field-item>
                      <span class=text>序号</span>
                      <i class="material-icons">close</i>
                      <i class="material-icons">filter_list</i>
                      <i class="material-icons">sort</i>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class=input-group>
              <label>行维</label>
              <div class="field-picker form-control">
                <ul>
                  <li>
                    <div class="field-item">
                      <span class=text class=text>序号</span>
                      <i class="material-icons">close</i>
                      <i class="material-icons">filter_list</i>
                      <i class="material-icons">sort</i>
                    </div>
                  </li>
                  <li>
                    <div class=field-item>
                      <span class=text>序号</span>
                      <i class="material-icons">close</i>
                      <i class="material-icons">filter_list</i>
                      <i class="material-icons">sort</i>
                    </div>
                  </li>
                  <li>
                    <div class=field-item>
                      <span class=text>序号</span>
                      <i class="material-icons">close</i>
                      <i class="material-icons">filter_list</i>
                      <i class="material-icons">sort</i>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class=input-group>
              <label>行维</label>
              <div class="field-picker form-control">
                <ul>
                  <li>
                    <div class="field-item">
                      <span class=text class=text>序号</span>
                      <i class="material-icons">close</i>
                      <i class="material-icons">filter_list</i>
                      <i class="material-icons">sort</i>
                    </div>
                  </li>
                  <li>
                    <div class=field-item>
                      <span class=text>序号</span>
                      <i class="material-icons">close</i>
                      <i class="material-icons">filter_list</i>
                      <i class="material-icons">sort</i>
                    </div>
                  </li>
                  <li>
                    <div class=field-item>
                      <span class=text>序号</span>
                      <i class="material-icons">close</i>
                      <i class="material-icons">filter_list</i>
                      <i class="material-icons">sort</i>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <table>
            <thead>
              <tr>
                <th>序号</th>
                <th>序号</th>
                <th>序号</th>
                <th>序号</th>
                <th>序号</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2019</td>
                <td>2019</td>
                <td>2019</td>
                <td>2019</td>
                <td>2019</td>
              </tr>
              <tr>
                <td>2019</td>
                <td>2019</td>
                <td>2019</td>
                <td>2019</td>
                <td>2019</td>
              </tr>
              <tr>
                <td>2019</td>
                <td>2019</td>
                <td>2019</td>
                <td>2019</td>
                <td>2019</td>
              </tr>
              <tr>
                <td>2019</td>
                <td>2019</td>
                <td>2019</td>
                <td>2019</td>
                <td>2019</td>
              </tr>
            </tbody>
          </table>
          <div class=pagination>
            <ul>
              <li><i class="material-icons">keyboard_arrow_left</i></li>
              <li *ngFor="let i of [1,2,3,4,5]">{{i}}</li>
              <li><i class="material-icons">keyboard_arrow_right</i></li>
            </ul>
          </div>

          <div>
            <div>部件设计</div>
          </div>

          <ul class=meta-comp-list>
            <li>
              <img src="" alt="">
            </li>
            <li>
              <img src="" alt="">
            </li>
            <li>
              <img src="" alt="">
            </li>
            <li>
              <img src="" alt="">
            </li>
            <li>
              <img src="" alt="">
            </li>
          </ul>

          <div class="btn-group"
            btnRadioGroup
            [(ngModel)]="metaCompType" >
            <label class="btn btn-primary"
              btnRadio="GraphOnly" >图</label>
            <label class="btn btn-primary"
              btnRadio="GraphNTable" >图+表</label>
          </div>

          <div class=widget>

          </div>
        </div>
      </div>
    </ng-container>
  </main>

  <div class=aside-editor-opener></div>
  <div class=aside-editor>
    <config-editor
      [getValue]='getValue'
      [propList]='getCurPropList()'
      [configEditorData]="configData"
      (onChangeValue)="handleChangeValue($event)" ></config-editor>
  </div>
</div>
