@mixin design-sidebar {
    design-sidebar {
        display: flex;
        flex: none;
        width: $sidebar-width;
        background-color: $sidebar-bg;
        border-right: $dsn-border;
        color: $dsn-color;
        user-select: none;
        .tab-container {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .nav-tabs {
            flex-direction: column;
            background: $dsn-tab-bg;
            border: none;
            border-right: $dsn-border;
            .nav-item {
                border: $dsn-border;
                margin-right: -1px;
                &:first-child {
                    border-top: 0px;
                }
                &.active {
                    border-right: none;
                }
            }
            .nav-link {
                color: $dsn-color;
                 border: none;
                 padding: 0.3rem 0.5rem;
                 border-radius: 0px;
                 &:hover {
                    // background-color: $dsn-tab-active-bg;
                    color: $dsn-active-color;
                } 
                &.active {
                    background-color: $dsn-tab-active-bg;
                    color: $dsn-active-color;
                }
            }
        }
        .tab-content {
            flex: auto;
            padding-left: 5px;
            overflow: auto;
            
            &>.tab-pane.active {
                display: flex;
                width: 100%;
                height: 100%;
                border-left: 1px solid #1a1d20;
                .panel {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    &-header {
                        padding: 10px;
                        border-bottom: $dsn-border;
                    }
                    &-body {
    
                        // .select-widgets{
    
                        //     padding: 10px;
                        //     display: flex;
                        //     flex-wrap: wrap;
    
                        //     .select-widgets-item {
                        //         width: 100px;
                        //         height: 100px;
                        //         text-align: center;
                        //         vertical-align: middle;
                        //         display: flex;
                        //         justify-content: center;
                        //         flex-direction: column;
                        //         background: red;
                        //         margin-left: 1px;
                        //         margin-bottom: 1px;
                        //         align-items: center;
                        //         position: relative;
                            
                        //         .toolbar {
                        //             position: absolute;
                        //             display: block;
                        //             top: 0;
                        //             right: 0;
                        //             // &:hover{
                        //             //     display: block;
                        //             // }
                        //         }
                        //     }
                        // }
    
                       
                    }
                }
            }
    
            &::-webkit-scrollbar {
                width: 7px;
                height: 10px;
            }
            &::-webkit-scrollbar-corner {
                background-color: $dsn-hover-bg;
            }
            &::-webkit-scrollbar-thumb {
                border-left: 2px solid transparent;
                // border-radius: 10px;
                 background-color: $dsn-hover-bg;
                border-style: solid;
                border-color: transparent;
                border-width: 0 0 0 1px;
                background-clip: content-box;
            }
            &::-webkit-scrollbar-track {
                background-color:$dsn-border; //lighten($primary, 30.5%); //#e5e5e5;
                border-left: 2px solid transparent;
                 background-clip: padding-box;
                border-style: solid;
                border-color: $dsn-border;
                border-width: 0 0 0 1px;
            }
        }

        .form-control {
            background-color: $dsn-form-control-bg;
            border: 1px solid $dsn-form-control-border-color;
            color: $dsn-form-control-color;
            &:focus {
                color: $dsn-form-control-color;
                background-color: $dsn-bg;
            }
            option {
                color: $dsn-form-control-color;
            }
        }


    }
}