
<div class='box-input'
  libDragInput
  axis="y"
  [modal]="values[0]"
  (changeValue)="handleDragChangeValue($event)" >
  <input class="top"
    type="number"
    [ngModel]="values[0]"
    (ngModelChange)="handleChangeValue($event, 0)" >
  <input class="right"
    type="number"
    [ngModel]="values[1]"
    (ngModelChange)="handleChangeValue($event, 1)">
  <input class="bottom"
    type="number"
    [ngModel]="values[2]"
    (ngModelChange)="handleChangeValue($event, 2)">
  <input class="left"
    type="number"
    [ngModel]="values[3]"
    (ngModelChange)="handleChangeValue($event, 3)">
</div>