@import './variables';
@import './header';
@import './sidebar';
@import './content';
@import './aside';
@import './footer';
@import './preview';
app-designer {
    display: flex;
    flex-direction: column;
    height: 100%; // color: $dsn-color;
    main {
        flex: auto;
        display: flex;
        flex-direction: row;
    }
    @include design-header;
    @include design-sidebar;
    @include design-content;
    @include design-aside;
    @include design-footer;
    .setting-container {
        // padding: 10px;
    }
    .select-widgets {
        display: flex;
        flex-wrap: wrap;
        .select-widgets-item {
            border: $dsn-border;
            width: 33.33%;
            text-align: center;
            background: darken($dsn-bg, 5%);
            padding: 10px;
            cursor: grab;
            .widget-name {
                font-size: 12px;
                opacity: .6;
            }
            &:hover {
                background: $dsn-bg;
                .widget-name {
                    opacity: 1;
                }
            }
        }
    }

    .modal-content {
        background-color: $dsn-bg;
    }
    .btn {
        font-size: 12px;
        padding: 3px 10px;
        height: 24px;
        border: 1px solid $dsn-form-control-border-color;
        color: $dsn-form-control-color;
        text-transform: capitalize;
        border-radius: 2px;
        background: lighten($dsn-bg, 10%)
    }
    .form-group {
        padding: 0 10px;
        margin: 0;
        .ng-select {
            padding: 0;
        }

        .btn:focus,
        .btn.focus {
            outline: 0;
            box-shadow: none;
        }

        label {
            font-size: 12px;
            margin: 0;
            text-transform: capitalize;
        }
        small {
            line-height: 1.2;
            vertical-align: text-top;
        }
        .btn-group {
            display: block;
        }

        .btn-radio {
            border: $dsn-border;
            background: lighten($aside-bg, 10%);
            color: $dsn-color;
            border-radius: 5px;

            &.active {
                background: darken($aside-bg, 10%);
                color: white;
            }

            &:not(.active):hover {
                background-color: lighten($dsn-form-control-bg, 5%);
            }
        }

        .form-control,
        .btn {
            font-size: 12px;
            padding: 3px 10px;
            height: 24px;
            border: 1px solid $dsn-form-control-border-color;
            color: $dsn-form-control-color;
            text-transform: capitalize;
            border-radius: 2px;
        }

        select {
            background-color: $dsn-form-control-bg;

            &:focus {
                color: $dsn-form-control-color;
                box-shadow: none;
                background-color: $dsn-form-control-bg;
            }

            option {
                color: $dsn-form-control-color;
            }

            &:hover {
                background-color: lighten($dsn-form-control-bg, 5%);
            }
        }

        input, textarea {
            background: darken($aside-bg, 10%);
            
            &:focus {
                box-shadow: rgb(52, 144, 235) 0px 0px 0px 1px;
                background: darken($aside-bg, 10%);
            }
        }
        .input-group {
            input {

            }
            .input-group-btn {
                button {
                    vertical-align: bottom;
                    border-radius: 0;
                    background: darken($aside-bg, 10%);
                    &:hover {
                        background: $aside-bg;
                    }
                }
            }

        }
    }

    /* bs accordion */
    accordion-group {
        >.panel {
            border: none;
            background: none;
            padding: 0;
            .panel-heading {
                background: darken($aside-bg, 16%);
                padding: 5px 10px;
                border-bottom: 1px solid black;
                border-radius: 0;
                .accordion-toggle {
                    line-height: 1;
                    .btn {
                        height: auto;
                        border: none;
                        color: $dsn-color;
                        font-size: 13px;
                        font-weight: bold;
                        cursor: default;
                        padding: 0;
                        line-height: 1;
                        background: none;
                    }
                }
            }
            .panel-body {
                padding: 0;
            }
        }
    }
}