
@import "~material-design-icons/iconfont/material-icons.css";
@import "./assets/variables.scss";
@import '../../styles/theme/theme.scss';


/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
}

h2 {
    font-size: 18px;
    font-weight: normal;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
}
 
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    border-radius: 10px;
    background: none;
}
 
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgba(0,0,0,.2);
}


// table {
//     border-collapse: collapse;
//     width: 100%;
//     margin: 30px 0;
//     thead {
//         background: #fbfbfb;
//         border-bottom: 2px solid #d5d5d5;
//         th {
//             padding: 8px 0;
//             font-size: 13px;
//             text-align: center;
//         }
//     }
//     tbody {
//         text-align: center;
//         tr {
//             td {
//                 font-size: 14px;
//                 color: rgba(0,0,0,.75);
//                 padding: 6px 0px;
//                 border-bottom: 1px solid #ebebeb;
//             }

//             &:nth-child(even) {
//                 background: #fbfbfb;
//             }
//             &:hover, &.active {
//                 background: #e6f7ff;
//             }
//         }
//     }
// }
.table {
    th, td {
        padding: 6px 6px;
        font-size: 14px;
    }
}

label {
    margin: 0;
}
.form-group {
    margin-bottom: 10px;
}

.btn {
    background: none;
    border: 1px solid #d9d9d9;
    padding: 6px 13px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    transition: all .2s ease;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);

}


.input-group {
    display: flex;
    font-size: 14px;
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
    label {
        width: 30%;
        text-align: right;
        padding: 4px 10px;
        margin-bottom: 0;
        
    }
    .form-control {
        height: auto;
        flex: 1 1 auto;
        border: 1px solid #cecece;
        border-radius: 2px;
        padding: 3px 6px;
        font-size: 14px;
    }
}



.pagination {
    margin-top: 10px;
    ul {
        li {
            padding: 4px 8px;
            margin: 0 3px;
            border: 1px solid #e1e1e1;
            border-radius: 2px;
            font-size: 12px;
            color: #666666;
            cursor: pointer;
            display: inline-block;
            i {
                font-size: 12px;
            }

            &:hover, &.active {
                background: $brandBlue;
                color: white;
                border-color: $brandBlue;
            }
        }
    }
}

.modal {
    .modal-header {
        border-bottom: none;
        padding: 5px 15px;
        h4 {
            font-size: 15px;
            font-weight: bold;
        }
    }
    .modal-body {
        font-size: 13px;
    }
    .modal-footer {
        padding: 5px 15px;
        background: $configEditorTitleBackground;
        border: none;
        .btn-default {
            background: white;
        }
    }
}


.btn-group {
    label {
        &.active {
            background: $brandBlue;
            border-color: $brandBlue;
            color: white;
        }
    }
}


.col-form-label {
    // font-size: 13px;
    text-align: right;
}
label {
    // font-size: 13px;

    .require-token {
        color: red;
        margin-right: 3px;
    }
}
.form-control-sm {
    font-size: 12px;
    padding: 3px 5px;
}

.btn {
    &:hover {
        color: $brandBlue;
        border-color: currentColor;
    }

    &.btn-primary {
        background: $brandBlue;
        border: 1px solid $brandBlue;
        color: white;
        &:hover {
            color: white;
            background: #388effce;
        }
    }
}

/* ngx bootstrap */
accordion {
    accordion-group {
        .card {
            border: none;
        }
        .panel-heading {
            padding: 0;
            border: 0;
            background: none;
            cursor: pointer;
        }
        .card-body {
            padding: 0;
        }
    }
}


/* utilities */
.bfc {

    display: flow-root;
}
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}
.fs-34 {
    font-size: 34px;
}
.bg-light-gray {
    background: $bgGray;
}
.text-brand {
    color: $brandBlue;
}

/* page layout */
// header 下的所有（与 header 平级）
.under-header {
    background: $bgGray;
    height: calc(100vh - 56px);
    &.under-header-flex {
        display: flex;
        align-items: stretch;
    }
    // 主要内容区（与左侧列表平级）
    .main-content {
        // padding: 15px;
        overflow-y: scroll;
        // width: 100%;
        // 在列表右侧
        &.main-content-right {
            width: calc(100% - 248px);
        }
        // 右侧主要部分的一块 panel
        .main-panel {
            // display: flow-root;
            background: white;
            &.main-panel-full {
                height: 100%;
            }
            &.main-panel-card {
                // height: 100%;
                margin: 10px;
            }
            .main-panel-title {
                padding: 25px;
                border-bottom: 1px solid #ededed;
                margin: 0;
            }
            .main-panel-body {
                padding: 25px;
                background: white;
            }
        }
    }
}



/* comps */
.checkbox-icon {
    color: #adb5bd;
    cursor: pointer;
    &.checked {
        color: $brandBlue;
    }
}