
@import "~material-design-icons/iconfont/material-icons.css";
@import "./assets/variables.scss";

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
}

h2 {
    font-size: 18px;
    font-weight: normal;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
}
 
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    border-radius: 10px;
    background: none;
}
 
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgba(0,0,0,.2);
}


.btn {
    background: none;
    border: 1px solid #d9d9d9;
    padding: 6px 13px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    transition: all .2s ease;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);

}

.main-panel {
    background: white;
    .main-panel-title {
        padding: 25px;
        border-bottom: 1px solid #ededed;
        margin: 0;
    }
    .main-panel-body {
        padding: 25px;
        background: white;

    }
    &.main-panel-full {
        height: 100%;
    }
    &.main-panel-card {
        // height: 100%;
        margin: 10px;
    }
}

.input-group {
    display: flex;
    font-size: 14px;
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
    label {
        flex: 1 1 30%;
        text-align: right;
        padding: 4px 10px;
        .require-token {
            color: red;
            margin-right: 3px;
        }
    }
    .form-control {
        flex: 1 1 70%;
        border: 1px solid #cecece;
        border-radius: 2px;
        padding: 6px;
        font-size: 14px;
    }
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    height: 56px;
    padding: 0 10px;
    box-shadow: 0 0 10px 0 #0000001c;
    padding: 0 25px;
    background: white;
    /* 否则影子会被遮住 */
    position: relative;
    z-index: 1;

    .left {
        display: flex;
        align-items: center;

        .icon {

        }
        .title {
            font-size: 20px;
        }

        .step-switch {
            margin-left: 150px;

            li {
                cursor: pointer;
                display: inline-block;
                font-size: 14px;

                .material-icons {
                    vertical-align: middle;
                    font-size: 22px;
                    margin: 0 15px 0 15px;
                    color: $brandBlue;
                }
                .number {
                    display: inline-block;
                    background: $brandBlue;
                    color: white;
                    border-radius: 100px;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    padding-top: 5px;
                    box-sizing: border-box;
                    margin-right: 6px;
                }
                .name {
                }

                &.unactive {
                    .material-icons, .name {
                        color: #9a9a9a;
                    }
                    .number {
                        background: #c3c3c3;
                    }
                }
                &.cur {
                    .name {
                        font-weight: bold;
                    }
                }
                &:first-child {
                    .material-icons {
                        display: none;
                    }
                }

            }
        }
    }
    .right {
        display: flex;
        align-items: center;
        float: right;

        .btns {
            // li {
            .btn {
                margin: 0 3px;

                &:hover {
                    color: $brandBlue;
                    border-color: currentColor;
                }

                &.btn-primary {
                    background: $brandBlue;
                    border: 1px solid $brandBlue;
                    color: white;
                    &:hover {
                        color: white;
                        background: #388effce;
                    }
                }

                // &:focus {
                // }
            }
            // }
        }
    }
}


accordion {
    accordion-group {
        .accordion-toggle {
            .heading {
                background: none;
                display: block;
                font-size: 14px;
                padding: 9px 12px;
                width: 100%;
                border: none;
                text-align: left;
                border-left: 4px solid transparent;
                transition: all .2s ease;
                cursor: pointer;
                &:hover, &.active {
                    background: #e6f7ff;
                    border-color: $brandBlue;
                    outline: none;
                }

                .material-icons {
                    vertical-align: middle;
                    font-size: 20px;
                    color: $brandBlue;
                    margin-right: 4px;
                }
            }
        }
        ul.inner-list {
            li {
                font-size: 14px;
                padding: 8px 0px;
                transition: all .2s ease;
                cursor: pointer;
                border-left: 4px solid transparent;
                
                .name {
                    margin-left: 55px;
                }

                &:hover, &.active {
                    background: #e6f7ff;
                    border-color: $brandBlue;
                    outline: none;
                }
            }
        }
    }
}