<tabset justified="true">
  <tab [active]="true">
    <ng-template tabHeading>
      <i class="material-icons">format_color_fill</i>
    </ng-template>
    <design-aside-style></design-aside-style>
  </tab>
  <tab>
    <ng-template tabHeading>
      <i class="material-icons">settings</i>
    </ng-template>
    <design-aside-setting></design-aside-setting>
  </tab>
  <!-- structure -->
  <tab>
    <ng-template tabHeading>
      <i class="material-icons">list</i>
    </ng-template>
    <design-aside-structure></design-aside-structure>
    <!-- <app-structure></app-structure> -->
  </tab>
  <tab>
    <ng-template tabHeading>
      <!-- <i class="material-icons">list</i> -->
      <i class="material-icons">flash_on</i>
    </ng-template>
    <design-aside-event></design-aside-event>
  </tab>
</tabset>