<!-- <div *ngIf="!isPreview" class="left-sider"> -->
  <tabset [vertical]="true">
    <tab>
      <ng-template tabHeading>
        <i class="material-icons">description</i>
      </ng-template>
      <div class="panel">
        <div class="panel-header">页面基本信息</div>
        <div class="panel-body scroll-thin">
          <!-- <app-page-info></app-page-info> -->
          <design-sidebar-info></design-sidebar-info>
        </div>
      </div>
    </tab>

    <tab [active]="true">
      <ng-template tabHeading>
        <i class="material-icons">web</i>
      </ng-template>
      <div class="panel">
        <div class="panel-header">布局</div>
        <div class="panel-body scroll-thin">
          <design-sidebar-layout></design-sidebar-layout>
        </div>
      </div>
    </tab>
    <!-- <tab>
      <ng-template tabHeading>
        <i class="material-icons">extension</i>
      </ng-template>

      <div class="panel">
        <div class="panel-header">基础组件</div>
        <div class="panel-body  scroll-thin">
          基础组件
        </div>
      </div>
    </tab> -->
    <tab>
      <ng-template tabHeading>
        <i class="material-icons">developer_board</i>
      </ng-template>

      <div class="panel">
        <div class="panel-header">部件</div>
        <div class="panel-body  scroll-thin">
          <design-sidebar-widget></design-sidebar-widget>
        </div>
      </div>
    </tab>
    <tab>
      <ng-template tabHeading>
        <i class="material-icons">insert_photo</i>
      </ng-template>
      <div class="panel">
        <div class="panel-header">资源文件</div>
        <div class="panel-body">
          assets
          <!-- <app-assets-selector></app-assets-selector> -->

        </div>
      </div>
    </tab>
  </tabset>

<!-- </div> -->