
<p *ngIf="!settingService.selectedSettable" class="no-selection-tip">请选择布局或部件</p>

<div class="setting-container" *ngIf="settingService.selectedSettable">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark">
      <li *ngFor="let item of settingService.selectedSettable.getPath(); let i=index;"
        [class.active]="i == settingService.selectedSettable.getPath().length"
        class="breadcrumb-item" >
        <a href="#">{{item}}</a></li>
    </ol>
  </nav>

  <form>
    <div class="form-group setting-item">
      <label for="classes">class</label>
      <ng-select
        [items]="classes"
        autofocus
        name="classes"
        [multiple]="true"
        [(ngModel)]="settingService.selectedSettable.config['classes']"
        (change)="handleChangeClass($event)"
        >
      </ng-select>
      <small id="emailHelp" class="form-text text-muted">you can select one class style.</small>
    </div>

    <!-- <div *ngFor="let category of getStyleProps()">{{category}}</div> -->
    <accordion class="ul-category">
      <accordion-group  *ngFor="let category of styleProps"
        [heading]="category.name"
        [isOpen]="true" >
        <config-editor
          [getValue]='bindedGetValueByPropName()'
          [propList]='category.styleProps'
          [configEditorData]="settingService.selectedSettable.config.style"
          (onChangeValue)="handleChangeValue($event)" ></config-editor>
      </accordion-group>
    </accordion>
  </form>
</div>
