<!-- <p>
  preview works!
</p> -->

<widget-layout>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 bg-info">left</div>
      <div class="col-sm-6 bg-primary">right</div>
    </div>
  </div>
</widget-layout>
<widget-layout class="row">
  <widget-layout class="col col-sm-6 col-lg-4 bg-info">left</widget-layout>
  <widget-layout class="col col-sm-6 col-lg-4 bg-primary">right</widget-layout>
  <widget-layout class="col col-sm- col-lg-4 bg-danger">right</widget-layout>

</widget-layout>

