

<div class="modal-header">
  <h4 class="modal-title pull-left">月度筛选</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-4">
      <label class="mb-2">月度字段</label>
      <!-- <div> -->
        <!-- search -->
        <app-search-input></app-search-input>

        <select class="form-control form-control-sm mt-1" size="12">
          <option value="">1 月</option>
          <option value="">1 月</option>
          <option value="">1 月</option>
          <option value="">1 月</option>
          <option value="">1 月</option>
          <option value="">1 月</option>
          <option value="">1 月</option>
          <option value="">1 月</option>
          <option value="">1 月</option>
          <option value="">1 月</option>
          <option value="">1 月</option>
        </select>
      <!-- </div> -->
    </div>
    <div class="col-sm-2 p-1">
      <select class="form-control form-control-sm mt-4">
        <option value="">></option>
        <option value="">></option>
        <option value="">></option>
        <option value="">></option>
        <option value="">></option>
        <option value="">></option>
        <option value="">></option>
        <option value="">></option>
        <option value="">></option>
        <option value="">></option>
      </select>
    </div>
    <div class="col-sm-6">
      <label class="mb-2">匹配值</label>
      <div class="row m-0">
        <input type="text" class="form-control form-control-sm col-sm-7">
        <div class="col-sm-5 p-1 value-btns">
          <div class="btn">+</div>
          <div class="btn">-</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">保存</button>
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">取消</button>
</div>