@import "../../../assets/variables.scss";

.search {
    position: relative;

    input {
        padding: 3px 30px 3px 5px;
    }
    button {
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        box-shadow: none;
        padding: 4px 5px;
        i {
            color: $brandBlue;
        }
    }
}