

<div *ngIf="settings">
  <!-- <widget-gridster-settings [settings]="settings" (settingsChange)="onSettingsChanged($event)"></widget-gridster-settings> -->
  
  <p *ngIf="!settingService.selectedSettable" class="no-selection-tip">请选择布局或部件</p>

  <div *ngIf="settingService.selectedSettable">
    <config-editor
      [getValue]='getValue'
      [propList]='getCurPropList()'
      [configEditorData]="this.settingService.selectedSettable.config.settings"
      (onChangeValue)="handleChangeValue($event)" ></config-editor>
  </div>
</div>