<div class=header>
  <div class=left>
    <img class=icon src="" alt="">
    <span class=title>{{headerOption.title}}</span>
    <!-- TODO: tempRef -->
  </div>

  <div class=right>
    <!-- TODO: tempRef -->
    <div class=btns>
      <!-- <li > -->
        <button
          *ngFor="let btn of headerOption.btns"
          [ngClass]="btn.class"
          (click)="btn.onClick()"
          class="btn">{{btn.name}}</button>
      <!-- </li> -->
    </div>
  </div>
</div>

<div class="manage-tmpl-page under-header under-header-flex">
  <app-searchable-list [categoryList]="roleCategoryList"
    [categorySelectable]="false"
    [itemSelectable]="true"
    (onSelect)="selectedWidgetOrCategory = $event" ></app-searchable-list>
  
  <div class="main-content main-content-right">
    <div class="main-panel main-panel-full">
      <div class="main-panel-body">
      <table> 
        <thead>
          <tr>
            <th>序号</th>
            <th>序号</th>
            <th>序号</th>
            <th>序号</th>
            <th>序号</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2019</td>
            <td>2019</td>
            <td>2019</td>
            <td>2019</td>
            <td>2019</td>
          </tr>
          <tr>
              <td>2019</td>
              <td>2019</td>
              <td>2019</td>
              <td>2019</td>
              <td>2019</td>
            </tr>
            <tr>
              <td>2019</td>
              <td>2019</td>
              <td>2019</td>
              <td>2019</td>
              <td>2019</td>
            </tr>
            <tr>
              <td>2019</td>
              <td>2019</td>
              <td>2019</td>
              <td>2019</td>
              <td>2019</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>