
<app-public-header
[btns]="headerOption.btns"
[title]="headerOption.title" >
</app-public-header>

<div class="manage-tmpl-page under-header under-header-flex">
  <app-searchable-list [categoryList]="roleCategoryList"
    [categorySelectable]="false"
    [itemSelectable]="true"
    (onSelect)="selectedWidgetOrCategory = $event" ></app-searchable-list>
  
  <div class="main-content main-content-right">
    <div class="main-panel main-panel-full">
      <div class="main-panel-body bfc">
        <app-good-table
          [tableData]="tableDataMock"
          [tableHeaders]="tableHeaders"
          [checkable]="true" ></app-good-table>
      </div>
    </div>
  </div>
</div>