<div class="setting-container">

  <form *ngIf="info">
      <div class="form-group">
        <label for="exampleInputEmail1">名称</label>
        <input type="text" class="form-control form-control-sm" id="name" name="name" aria-describedby="emailHelp" placeholder="请输入页面名称" autocomplete="off" [(ngModel)]="designService.pageService.info.name">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="form-group">
          <label for="exampleInputEmail1">描述</label>
          <textarea type="text" class="form-control form-control-sm" id="description" name="description" row="3" placeholder="" [(ngModel)]="designService.pageService.info.desc"></textarea>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
      <!-- <div class="form-group">
          <label for="exampleFormControlSelect1">Example select</label>
          <select class="form-control form-control-sm" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->
      <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    </form>


</div>