widget-layout{
    display: block;
    position: relative;
    &.body{
        height: 100%;
        overflow: auto;
    }
    .setting-tool{
        display: none;
    }

}
widget-container{
    display: block;
}
